
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.MuiBox-root.css-5ev5f7 {
  position: static; /* or any other position value */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.App-logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.8)); /* 调整颜色的透明度 */
}

.App-logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.8)); /* 调整颜色的透明度 */
}


